* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.58;
    color: #333;
    background: linear-gradient(to bottom, #f7feff 0%, #b5deef 50%, #b1f4ff 100%);
    height: 100%;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.hidden {
    display: none;
}

.form-control {
    width: 100%;
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
}

.form-group {
    margin-bottom: 15px;
}

input {
    padding-left: 10px;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-family: monospace;
    font-size: 2.0em;
     margin-top: 0px;
}

a {
    color: #6db33f;
}

button {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
    font-weight:bolder;
}

button.default {
    background-color: #e8e8e8;
    color: #333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

button.primary {
    background-color: #6db33f;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

button.accent {
    background-color: #6db33f;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

#username-page {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    gap:30px;
}

.rooms-created {
    background-color: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 14px;
    width: 100%;
    max-width: 300px;
}

.rooms-created,
.username-page-container {
    height: 100%;
    max-height:350px;
}

.title-visible-rooms{
    margin: 7px 0px;
    font-size: 25px;
    padding: 0 10px;
}

.table-wrapper {
    height: 87.5%;
    width:300px;
    flex-grow: 1;
    overflow: hidden;
}

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#room-table-body {
    display: block;
    overflow-y: auto;
    flex-grow: 1;
    width: 100%;
    max-height:250px;
}


.table th, .table td {
    text-align: center;
    padding: 8px;
}
.username-page-container {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 19px;
    width: 100%;
    max-width: 500px;
    padding: 35px 55px;
    min-height: 250px;
    position: relative;
}
.username-page-container > * {
    margin-bottom: 30px;
}

#usernameForm{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#chat-page {
    display: none;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.button-group{
    margin-top:10px;
    display:flex;
    justify-content: center;
    gap:25px;
}

#createRoomBtn{
    background-color:#5f777c;
    color: white;
}

.chat-container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    margin-top: 100px;
    height: calc(100% - 60px);
    max-height: 600px;
    position: relative;
    padding-bottom:30px;
    border-radius:6px;
}

#chat-page ul {
    list-style-type: none;
    background-color: #FFF;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px 0px 20px;
    height: calc(100% - 150px);
}

#chat-page #messageForm {
    padding: 9px;
}

#chat-page ul li {
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
}

#chat-page ul li p {
    margin: 0;
}

#chat-page .event-message {
    width: 100%;
    text-align: center;
    clear: both;
}

#chat-page .event-message p {
    color: #777;
    font-size: 14px;
    word-wrap: break-word;
}

#chat-page .chat-message {
    padding-left: 68px;
    position: relative;
}

#chat-page .chat-message i {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}

#chat-page .chat-message span {
    color: #333;
    font-weight: 600;
}

#chat-page .chat-message p {
    color: #3c4047;
    font-family: Roboto;
    font-weight: 400;
}

#messageForm .input-group input {
    float: left;
    width: calc(100% - 85px);
}

#messageForm .input-group button {
    float: left;
    width: 80px;
    height: 38px;
    margin-left: 5px;
}

.chat-header {
    position: relative;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ececec;
}

.chat-header h2 {
    margin: 0;
    font-weight: 500;
}

.chat-header button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #e9444461;
    font-size:25px;
    height: 0px;
    width: 0px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.connecting {
    padding-top: 5px;
    text-align: center;
    color: #777;
    position: absolute;
    top: 65px;
    width: 100%;
}

@media screen and (max-width: 730px) {

    .chat-container {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .chat-container {
        height: calc(100% - 30px);
    }

    .username-page-container {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
        padding: 25px;
    }

    #chat-page ul {
        height: calc(100% - 120px);
    }

    #messageForm .input-group button {
        width: 65px;
    }

    #messageForm .input-group input {
        width: calc(100% - 70px);
    }

    .chat-header {
        padding: 10px;
    }

    .connecting {
        top: 60px;
    }

    .chat-header h2 {
        font-size: 1.1em;
    }
}

.event-message {
    text-align: center;
    color: #666;
    font-style: italic;
    margin: 10px 0;
    font-size: 0.9em;
}

.system-message {
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}


.chat-message.my-message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    max-width: 94%;
}

.chat-message.my-message i {
    left: 600px !important;
    margin-top: 1.3rem;
}

.chat-message.my-message p {
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    background-color: #6db33f;
    border-radius: 15px 7px 15px 15px;
    padding: 6px 10px;
}

.chat-message:not(.my-message) p {
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    background-color: #e0e0e0;
    border-radius: 7px 15px 15px 15px;
    padding: 6px 10px;
    display: table;
    max-width: 80%;
}

.chat-message:not(.my-message) i {
    position: absolute;
    bottom: 12px;
}

.room-info{
    display:flex;
    gap:165px;
    justify-content: center;
    font-family:Andale Mono, monospace;
    font-size:20px;
}

.logo{
    margin-top: 5px;
    margin-left: 10px;
    width: 40x;
    height: 40px;
}

header{
    display: flex;
    align-items:end;
    gap: 7px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;

}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: red;
  transition: 0.4s;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider::before {
  transform: translateX(30px);
  }

.check-visibly {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.check-visibly p {
    font-family:Trebuchet MS, sans-serif;
    font-weight:700;
    margin: 0;
    font-size:19px;
}